@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

h2 {
    margin-top: 15px;
    margin-left: 20px;
}

nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
    padding: 10px;
    justify-items: flex-end;
}

nav a {
    text-decoration: none;
    color: #474747;
}

nav li:hover {
    border-bottom: 2px solid crimson;
}

/* banner section styling */
.banner-section {
    height: 650px;
    max-width: 1680px;
    background: rgba(229, 84, 115, 0.10);
    /* border: 2px solid red; */
}

.banner-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    /* border: 2px solid violet; */
}

.banner-text {
    gap: 20px;
    height: 650px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
}

.banner-text button {
    margin-top: 10px;
    margin-right: 450px;
    padding: 5px 35px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    background-color: #E55473;

}

.banner-img {
    width: 60%;
    height: 650px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: flex-end;
    /* border: 2px solid blueviolet; */
}

.banner-img img {
    width: 50%;
    height: 650px;

}

/* feature-img-container */
.feature-img-container {
    width: 90%;
    height: 650px;
    margin: 0 auto;
    margin-top: 140px;
    /* border: 2px solid red; */
}

.featured-title {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* border: 2px solid violet; */
}

.featured-img {
    display: flex;
    gap: 20px;
    margin-top: 70px;

}

.first-img,
.second-img,
.third-img {
    width: 33%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% 50% 0 0;
    /* border: 2px solid blue; */
}

#first {
    background: rgba(167, 33, 98, 0.15);
}

#second {
    background: rgba(5, 151, 160, 0.15);
}

#third {
    background: rgba(71, 125, 17, 0.15);
}

/* instagram-section-container */
.instagram-section-container {
    width: 90%;
    height: 1050px;
    margin: 0 auto;
    margin-top: 140px;
    border: 2px solid green;
}

.instagram-text-content {
    height: 132px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* border: 2px solid red; */
}

.first-instagram-image {
    width: 100%;
    height: 100%;
}

.first-instagram-image img {
    height: 396px;
    width: 342px;
    /* border: 2px solid purple; */
}

.first-instagram-image {
    width: 100%;
    height: 100%;
    margin-left: 55px;
    margin-top: 15px;
    /* border: 2px solid violet; */
}

.instagram-img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}